*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    height: 350px;
    width:300px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img{
    height: 50px;
    border-radius: 100%;
    border: 2px solid #dadada;
}

.top button{
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    background-color: rgb(14, 99, 197);
    color: white;
    cursor: pointer;
}
.center{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 25px;
}
.center h3{
    font-size: 30px;
    font-weight: bolder;
}

.center h3 span{
    font-size: 15px;
    font-weight: 400;
    color: #8b8b8b;
}

.center h2{
    font-size: 20px;
}

.center .tag{
    display: flex;
    gap: 10px;
}

.center .tag h4{
    font-size: 12px;
    background-color: #dadada;
    color: #111;
    padding: 2px 10px;
    border-radius: 5px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #dadada;
    padding-top: 20px;
}

.bottom button{
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    background-color: rgb(14, 99, 197);
    color: white;
    cursor: pointer;
}